// light colors

$bg-general-light: #f5f3f3;
$bg-light : #fff;
$grey-600: #8b8a8a;
$buton-hover-select: #5f88f9;
$cheked-gradiant: linear-gradient(to bottom right, aqua, purple);

//dark colors

$bg-general-dark: #050303;
$bg-dark: #1c1b1b;
